html
{
	width:100%;
	height:100%;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.5rem;
	line-height: 1.6;
	font-family: 'Open Sans';
}

p {
	display: block;
	/* margin-bottom: 15px; */
}

.hg-header {
	background-color: rgb(100, 100, 100);
	color: #fff;
	font-size: 2rem;
	font-weight: 700;
	font-style: italic;

	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.hg-footer-main {
	border-style: solid;
	border-width: 1px;
	border-color: blue;
}

.hg-left, .hg-right, .hg-footer-left, .hg-footer-right {
	background-color: rgb(230, 230, 230);
	text-align: center;
	border-style: solid;
	border-width: 1px;
	border-color: blue;
}



.hg, .hg-main {
	height:100%;
	width: 100%;
}

h1,h2,h3,h4,h5,h6 {
	text-align: center;
}

