#SimpleDiv
{
	color:white;
	-webkit-user-select: none;
	text-align: center;
	width: 100%;
	height: 100%;
	/* border: 1px solid #0f0; */
}

.label {
    font-size: 10px;
}
.valBox {
	font-size: 10px;
	width: 40px;
	margin-left: 5px;
}

#footerdiv {
	background-color: white;
	width: 100%;
	height: 100%;
}